<!DOCTYPE html>
<html>
<head>
    <title>Autocorrect System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Poppins', sans-serif; background: linear-gradient(to right, #74ebd5, #ACB6E5);"></body>
    <div class="container mt-5">
        <div class="card shadow-lg p-4">
        <h1 class="text-center mb-4" style="font-weight:bold;">
    🔍 AutoSuggest & Autocorrect System
       </h1>
        <form method="POST" action="/suggest" class="mt-4">
            <div class="form-group">
                <label for="keyword">Enter a word:</label>
                <input type="text" class="form-control" id="keyword" name="keyword" placeholder=""Type word" required>       </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Get Suggestions</button>
        </form>

        <div id="suggestions" class="mt-4">
        {% if suggestion %}
        <table class="table table-hover table-bordered mt-4">
            <thead><body style="font-family: 'Poppins', sans-serif; background: linear-gradient(to right, #74ebd5, #ACB6E5);"></body>
                <tr>
                    <th>Suggested Word</th>
                    <th>Similarity</th>
                </tr>
            </thead class="thead-dark">
            <tbody>
                {% for suggestion in suggestion %}
                <tr>
                    <td>{{ suggestion['Words'] }}</td>
                    <td>{{ suggestion['Similarity'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        </div>

    </div>
</body>
</html>
